{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="columns is-centered">
        <div class="column is-4">
            <form method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="columns">
                    {% if error %}
                        <div class="column is-12">
                            <div class="notification is-danger">
                                <div class="notification-body">
                                    <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="column is-12">
                        <h1 class="title is-4">Por favor inicia sesión</h1>
                    </div>
                    <div class="column is-12">
                        <div class="field">
                            <label for="email">Correo</label>
                            <input type="email" value="{{ last_username }}" name="email" id="email" class="input" placeholder="Correo" required autofocus>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="field">
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" id="password" class="input" placeholder="Contraseña" required>
                        </div>
                    </div>
                    <div class="column is-12 has-text-centered">
                        <button class="button is-accent" type="submit">
                            Iniciar sesión
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
