@import "~@fanxie/leaf-css/leaf";
@import "~vue-wysiwyg/dist/vueWysiwyg.css";

.meta-item {
  display: block;
  font-style: italic;
}

.blog-item {

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title a {
    color: #000;
  }

  .blog-item__thumb {
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;

    .blog-item__edit {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
    }

    img {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }

  .title {
    margin-bottom: .8rem;
  }

  .blog-item__meta {
    font-size: .75rem;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

.blog-detail {

  .title {
    margin-bottom: 1rem;
  }

  .blog-detail__thumb {
    margin-bottom: 1rem;
  }

  .blog-detail__meta {
    margin-bottom: 1rem;
  }

  .blog-detail__actions {
    margin-bottom: 1rem;
  }

  .content {
    padding: 1rem 0;
  }
}