<template>
    <div class="image-uploader">
        <form enctype="multipart/form-data" novalidate v-if="isInitial || isSaving">
            <div class="dropbox">
                <input type="file"
                       :disabled="isSaving"
                       @change="fileChange"
                       accept="image/*" class="input-file">
                <div v-if="isInitial">
                    <span class="icon upload-icon">
                        <i class="far fa-camera fa-4x"></i>
                    </span>
                    <p>Seleccionar imagen</p>
                </div>
                <p v-if="isSaving">
                    Subiendo...
                </p>
            </div>
        </form>
    </div>
</template>

<script>
    import axios from 'axios';

    const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;

    export default {
        name: "",
        props: {
            uploadUrl: {
                type: String,
                required: true
            }
        },
        data() {
            return {
                currentStatus: '',
            }
        },
        mounted() {
            this.currentStatus = STATUS_INITIAL;
        },
        methods: {
            fileChange(e) {
                const files = e.target.files;

                if (!files || files.length === 0) return;

                const formData = new FormData();
                formData.append('file', files[0]);

                //  Process upload
                this.currentStatus = STATUS_SAVING;

                let uploadData = {
                    form: formData,
                };

                axios.post(this.uploadUrl, formData,
                    {
                        headers: {'Content-Type': 'multipart/form-data' }
                    })
                    .then(x => x.data)
                    .then(res => {
                        this.$emit('image-uploaded', res);
                    });
            }
        },
        computed: {
            isInitial() {
                return this.currentStatus === STATUS_INITIAL;
            },
            isSaving() {
                return this.currentStatus === STATUS_SAVING;
            },
            isSuccess() {
                return this.currentStatus === STATUS_SUCCESS;
            },
            isFailed() {
                return this.currentStatus === STATUS_FAILED;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .dropbox {
        position: relative;
        min-height: 120px;
        text-align: center;
        background: #00e298;
        cursor: pointer;
        padding: 10px;

        input[type='file'] {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

        .upload-icon {
            width: 5rem;
            height: 5rem;
        }
    }
</style>
