{% extends 'base.html.twig' %}
{% block title %}Mensajes{% endblock %}
{% block body %}
    <div class="columns">
        <div class="column is-6">
            <h1 class="title">Mensajes</h1>
        </div>
        <div class="column is-12">
            <div class="table-container">
                <table class="table is-bordered is-striped is-fullwidth">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Mensaje</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Mensaje</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for message in messages %}
                    <tr>
                        <th scope="row">{{ message.id }}</th>
                        <td>{{ message.name }}</td>
                        <td><a href="mailto:{{ message.email }}">{{ message.email }}</a></td>
                        <td>{{ message.message }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}