{% extends 'base.html.twig' %}
{% block title %} Crear entrada {% endblock %}
{% block body %}
    <posts-form
            uploads-url="{{ path('upload') }}"
            {% if post | default(null) %}:initial-post="{{ post.toArray | json_encode }}"{% endif %}></posts-form>
{% endblock %}