{% extends 'base.html.twig' %}
{% block title %}Entradas{% endblock %}
{% block body %}
    <div class="columns">
        <div class="column is-6">
            <h1 class="title">Entradas del blog</h1>
        </div>
        <div class="column is-6 has-text-right">
            <a href="{{ path('posts_create') }}" class="button is-accent">Nueva entrada</a>
        </div>
        <div class="column is-12">
            <div class="table-container">
                <table class="table is-bordered is-striped is-narrow is-fullwidth">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Acciones</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for post in posts %}
                    <tr>
                        <th scope="row">{{ post.id }}</th>
                        <td>{{ post.title }}</td>
                        <td>{{ post.author.email }}</td>
                        <td>
                            <a href="{{ path('posts_edit', {'id': post.id}) }}" class="button is-small">Editar</a>
                            <a target="_blank" href="{{ path('blog_show', {'slug': post.slug}) }}" class="button is-small">Ver</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}