<article class="blog-item">
    {% if post.image | default(null) %}
        <figure class="blog-item__thumb">
            {% if app.user %}
            <a href="{{ path('posts_edit', {'id': post.id}) }}" class="button is-small blog-item__edit">
                <span class="icon is-small">
                    <i class="far fa-pencil"></i>
                </span>
            </a>
            {% endif %}
            <a href="{{ path('blog_show', {'slug': post.slug}) }}">
                <img src="/uploads/{{ post.image.path }}" alt="{{ post.title }}">
            </a>
        </figure>
    {% endif %}
    <section class="blog-item__info">
        <h2 class="title is-5"><a href="{{ path('blog_show', {'slug': post.slug}) }}">{{ post.title }}</a></h2>
        <div class="blog-item__meta">
            <span class="meta-item has-text-accent"><b>{{ post.author.email }}</b></span>
            <span class="meta-item">{{ post.createdAt | date("d/m/Y") }}</span>
        </div>
    </section>
</article>