{% extends 'base.html.twig' %}
{% block title %}Blog{% endblock %}
{% block body %}
    <div class="columns">
        <div class="column is-12">
            <h1 class="title">Blog</h1>
        </div>
    </div>
    <div class="columns">
        {% for post in posts %}
            <div class="column is-3">
                {% include 'includes/blog_item.html.twig' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}