{% extends 'base.html.twig' %}
{% block title %}Blog - {{ post.title }}{% endblock %}
{% block body %}
    <div class="columns is-centered">
        <div class="column is-7-tablet">
            <article class="blog-detail">
                {% if post.image | default(null) %}
                <figure class="blog-detail__thumb">
                    <img src="/uploads/{{ post.image.path }}" alt="{{ post.title }}">
                </figure>
                {% endif %}
                <h1 class="title is-2">{{ post.title }}</h1>
                <div class="blog-detail__meta">
                    <span class="meta-item has-text-accent"><b>{{ post.author.email }}</b></span>
                    <span class="meta-item">{{ post.createdAt | date("d/m/Y") }}</span>
                </div>
                {% if app.user %}
                <div class="blog-detail__actions">
                    <a href="{{ path('posts_edit', {'id': post.id}) }}" class="button">Editar</a>
                </div>
                {% endif %}
                <hr>
                <section class="content">
                    {{ post.content | raw }}
                </section>
                <hr>
            </article>
        </div>
        <div class="column is-7-tablet">
            <div class="columns">
                <div class="column is-12">
                    <h2 class="title is-4">Entradas recientes</h2>
                </div>
                {% for post in recent %}
                    <div class="column is-4">
                        {% include 'includes/blog_item.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}