<template>
    <form :action="formAction" method="post">
        <input type="hidden" name="_method" value="patch" v-if="isUpdating">
        <div class="columns is-centered">
            <div class="column is-8">
                <div class="field">
                    <label for="title">Título</label>
                    <input id="title" name="title" type="text" class="input" v-model="post.title" required>
                </div>
            </div>
            <div class="column is-5">
                <div class="field">
                    <label>Contenido</label>
                    <wysiwyg v-model="post.content"></wysiwyg>
                    <textarea name="content" style="display: none;" :value="post.content"></textarea>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <label>Imágen</label>
                    <image-uploader
                            v-if="post.image === null"
                            @image-uploaded="onImageUploaded"
                            :upload-url="uploadsUrl"></image-uploader>
                    <figure class="image-preview" v-else>
                        <input type="hidden" name="image_id" :value="post.image.id">
                        <button type="button" class="button is-danger" @click="clearImage">
                            <span class="icon"><i class="fal fa-times"></i></span>
                        </button>
                        <img :src="`/uploads/${post.image.path}`" alt="">
                    </figure>
                </div>
            </div>
            <div class="column is-8 has-text-right">
                <button type="submit" class="button is-accent" :disabled="!canSave">Guardar</button>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "",
        props: {
            uploadsUrl: {
                type: String,
                required: true
            },
            initialPost: {
                type: Object
            }
        },
        data() {
            return {
                post: {
                    title: null,
                    content: null,
                    image: null
                }
            }
        },
        mounted() {
            if (this.isUpdating) {
                this.post = this.initialPost;
            }
        },
        methods: {
            clearImage() {
                this.post.image = null;
            },
            onImageUploaded(data) {
                this.post.image = data;
            }
        },
        computed: {
            canSave() {
                return this.post.title !== null;
            },
            isUpdating() {
                return this.initialPost !== undefined;
            },
            formAction() {
                return this.isUpdating ? `/admin/posts/${this.initialPost.id}` : '/admin/posts/new';
            }
        }
    }
</script>

<style lang="scss" scoped>
    .image-preview {
        position: relative;

        .button {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
</style>