<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="app">
            <nav class="navbar is-dark has-shadow">
                <div class="navbar-brand">
                    <a @click="toggleMenu" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="container">
                    <div class="navbar-menu" :class="{'is-active': menuIsOpen}">
                        <div class="navbar-start">
                            <a href="{{ path('home') }}" class="navbar-item">Home</a>
                            <a href="{{ path('blog_list') }}" class="navbar-item">Blog</a>
                            <a href="{{ path('contact') }}" class="navbar-item">Contacto</a>
                        </div>
                        <div class="navbar-end">
                            {% if app.user %}
                                <div class="navbar-item">
                                    <a href="{{ path('admin') }}">Admin</a>
                                    <div class="navbar-dropdown">
                                        <a href="{{ path('posts') }}" class="navbar-item">Entradas</a>
                                        <a href="{{ path('messages') }}" class="navbar-item">Mensajes</a>
                                    </div>
                                </div>
                            {% else %}
                                <a class="navbar-item" href="{{ path('app_login') }}">Iniciar sesión</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
            <section class="section">
                <div class="container">
                    {% block body %}{% endblock %}
                </div>
            </section>
        </div>
        <script src="https://kit.fontawesome.com/686f5fbb73.js"></script>
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
