{% extends 'base.html.twig' %}
{% block title %}Contacto{% endblock %}
{% block body %}
    <div class="columns is-centered">
        <div class="column is-8">
            <h1 class="title">Contacto</h1>
        </div>
        <div class="column is-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores doloribus ducimus est eum harum ipsa minima possimus, veritatis voluptatum.</p>
        </div>
        <div class="column is-8">
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="notification is-success">
                    <div class="notification-body">
                        <h5 class="title is-6">Mensaje enviado</h5>
                        <p>{{ flash_message }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="column is-8">
            <form action="{{ path('save_message') }}" method="post">
                <div class="columns">
                    <div class="column is-6">
                        <div class="field">
                            <label for="name">Nombre</label>
                            <input type="text" class="input" name="name" id="name" placeholder="Tu nombre" required>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            <label for="email">Correo</label>
                            <input type="email" class="input" name="email" id="email" placeholder="Tu correo" required>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="field">
                            <label for="message">Mensaje</label>
                            <textarea class="textarea has-fixed-size" name="message" id="message" required></textarea>
                        </div>
                    </div>
                    <div class="column is-12 has-text-right">
                        <button class="button is-accent">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}