{% extends 'base.html.twig' %}
{% block body %}
    <div class="columns is-centered">
        <div class="column is-8-tablet">
            <div class="columns">
                <div class="column is-12">
                    <h1 class="title">Symfony Blog</h1>
                </div>
                <div class="column is-12">
                    <div class="content">
                        <h4>Librerías usadas</h4>
                        <ul>
                            <li><a href="https://leaf.fanxielab.com/" target="_blank">Leaf CSS</a></li>
                            <li><a href="https://vuejs.org/" target="_blank">Vue JS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="column is-12">
                    <hr>
                </div>
            </div>
            <div class="columns">
                <div class="column is-12">
                    <h2 class="title is-4">Entradas recientes</h2>
                </div>
                {% for post in recent %}
                    <div class="column is-4">
                        {% include 'includes/blog_item.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}